main {
  margin: auto;
  width: 80%;
}
footer {
  text-align: center;
}
li {
  list-style-type: none;
  display: inline;
  padding-right: 15px;
}
nav {
  background-color: gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}

li a {
  color: gray;
  text-decoration: none;
}
li a.active {
  color: black;
}
li a:hover:not(.active) {
  color: dimgray;
}
article {
  margin-top: 10px;
}
