main {
  margin: auto;
  width: 80%;
}
footer {
  text-align: center;
}
li {
  list-style-type: none;
  display: inline;
  padding-right: 15px;
}
nav {
  background-color: gainsboro;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}

li a {
  color: gray;
  text-decoration: none;
}
li a.active {
  color: black;
}
li a:hover:not(.active) {
  color: dimgray;
}
.section {
  display: flex;
  justify-content: space-around;
}
table {
  margin-top: 10px;
}
article {
  margin-top: 10px;
  border-top: 1px solid grey;
}

select {
  margin-bottom: 5px;
}
#test3 {
  padding: 10px;
  margin: 10px;
}
